.textColor{
    font-family: 'Open Sans', sans-serif;
    color: #ccc;
}

.main {
    float: right;
    width: 85%;
}

#sidebar {
    overflow: hidden;
    z-index: 3;
    position: fixed;
    height: 100%;
}
#sidebar .list-group {
    min-width: 100px;
    background-color: rgb(30, 74, 99);
    min-height: 100vh;
}
#sidebar i {
    margin-right: 6px;
}

#sidebar .list-group-item {
    background-color: rgb(30, 74, 99);
    color: #ccc;
    border-left: 0;
    border-right: 0;
    border-color: rgb(44, 107, 143);
    white-space: nowrap;
    width: 100%;
}

#sidebar .list-group-button {
    background-color: rgb(57, 139, 187);
    color: rgb(19, 54, 75);
    border-left: 0;
    border-right: 0;
    margin-top: 10px;
    white-space: nowrap;
    width: 100%;
}

.page-header {
    text-align: center;
    font-family: 'Oranienbaum', serif;
}

#title {
    font-size: 350%;
}

.lead {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

#entryBlock {
    color: black;
    display: block;
    text-decoration: none;
}

#entry{
    line-height: 20px;
    margin-top: -30px;
}

#entry:hover {
    background-color: rgba(49, 148, 206, 0.568);
    cursor: pointer; 
}

#entryHead {
    font-family: 'Halant', serif;
    padding-left: 10px;
    margin-top: -20px;
    margin-bottom: 0px;
}

.entryBody {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    margin-left: 0;
    margin-top: -23px;
    padding-left: 10px;
    margin-bottom: 5;

}

#entryLink {
    font-family: 'Open Sans', sans-serif;
    margin-left: 0;
    margin-top: -20px;
    padding-left: 10px;

}

/* closed state */
#sidebar .list-group .list-group-item[aria-expanded="false"]::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 5px;
}

/* open state */
#sidebar .list-group .list-group-item[aria-expanded="true"] {
  background-color: #222;
}
#sidebar .list-group .list-group-item[aria-expanded="true"]::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 5px;
}


@media (max-width:768px) {
    #sidebar {
        min-width: 35px;
        max-width: 40px;
        overflow-y: auto;
        overflow-x: visible;
        transition: all 0.25s ease;
        transform: translateX(-45px);
        position: fixed;
    }
    
    #sidebar.show {
        transform: translateX(0);
    }

    #sidebar::-webkit-scrollbar{ width: 0px; }
    
    #sidebar, #sidebar .list-group {
        min-width: 35px;
        overflow: visible;
    }
    /* overlay sub levels on small screens */
    #sidebar .list-group .collapse.show, #sidebar .list-group .collapsing {
        position: relative;
        z-index: 1;
        width: 190px;
        top: 0;
    }
    #sidebar .list-group > .list-group-item {
        text-align: center;
        padding: .75rem .5rem;
    }
    /* hide caret icons of top level when collapsed */
    #sidebar .list-group > .list-group-item[aria-expanded="true"]::after,
    #sidebar .list-group > .list-group-item[aria-expanded="false"]::after {
        display:none;
    }
}

.collapse.show {
  visibility: visible;
}
.collapsing {
  visibility: visible;
  height: 0;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.collapsing.width {
  -webkit-transition-property: width, visibility;
  transition-property: width, visibility;
  width: 0;
  height: 100%;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}


